@CHARSET "UTF-8";

body {
	border: 10px solid #05b6e5;
	background-color: orange;
	box-shadow: 0px 10px 10px 3px red;
}

nav {
	background-color: #ff6400;
	height: 260px;
	border: 25px solid #05b6e5;
	word-spacing: 20px;
	display: flex; /*mantem imagens alinhadas na horizontal*/
	justify-content: center; /*posiicao dos das imagens no centro*/
}

.imagens {
	position: relative;
	top: 25px;
	left: 1px;
	margin: 0 auto;
	width: 225px;
	height: 185px;
	border: 10px solid black;
	box-shadow: 0px 10px 10px 3px #05b6e5;
	word-spacing: 2px;
}

h2:hover {
	font-size: 150%;
	color: white;
	transition-duration: 0.5s;
}

p:hover {
	font-size: 150%;
	color: white;
	transition-duration: 0.5s;
}

header h1 {
	text-align: center;
	font-size: 50px;
	font-family: Tahoma;
}

h2 {
	text-align: center;
	font-size: 20px;
	font-family: Tahoma;
}

p {
	text-align: center;
	font-size: 20px;
	font-family: Tahoma;
}

.tabelaProdutos {
	margin: 10px auto;
	text-align: center;
	font-family: Tahoma;
	box-shadow: 2px 2px 2px 2px black;
}

tr, td, th {
	width: 200px;
	height: 30px;
	border: 2px solid black;
	padding: 2px;
	font-family: Tahoma;
	box-shadow: 2px 2px 2px 2px black;
}

tr:nth-child(even) {
	background-color: #d2d5d6;
}

tr:nth-child(odd) {
	background-color: #9a9d9d;
}

.formularioPedido {
	width: 390px;
	height: 400px;
	margin: 0px auto;
	font-weight: bold;
	border: 2px solid black;
	box-shadow: 2px 2px 2px 2px black;
	font-family: Tahoma;
}

label { /*mexe na legenda no check (Quitutes)*/
	position: relative;
	float: left;
	top: 15px;
	width: 200px;
	height: 10px;
	font-family: Tahoma;
}

.identificadorInput {
	position: relative;
	top: 20px;
	float: left;
	width: 200px;
}

.inputTexto {
	background-color: #05b6e5;
	float: right;
	left: 15px;
	width: 270px;
	height: 20px;
}

#data {
	position: relative;
	left: 0px;
	top: 25px;
	width: 125px;
	height: 24px;
}

#dataEntrega {
	position: relative;
	left: -10px;
	top: 18px;
	width: 125px;
	height: 24px;
	background-color: #05b6e5;
	color: white;
	font-weight: bold;
}

#horas {
	position: relative;
	top: -18px;
	left: 262px;
	width: 70px;
	height: 20px;
	width: 70px;
}

#horaEntrega {
	position: relative;
	top: -30px;
	left: 115px;
	width: 70px;
	height: 24px;
	background-color: #05b6e5;
	color: white;
	font-weight: bold;
}

select {
	background-color: #05b6e5;
	position: relative;
	top: -12px;
	left: 115px;
	width: 275px;
	height: 27px;
	font-family: Tahoma;
	color: white;
	font-weight: bold;
}

.formularioPedido textarea {
	background-color: #05b6e5;
	position: relative;
	top: 8px;
	width: 383px;
	height: 50px;
	resize: none;
	color: white;
	font-weight: bold;
}

#coletarProduto {
	position: relative;
	top: 28px;
	margin: 0 auto;
}

#frase {
	position: relative;
	float: right;
	top: 0px;
	left: -150px;
}

#botao1 {
	position: relative;
	float: left;
	top: 40px;
	left: 150px;
	width: 80px;
	height: 30px;
	background-color: red;
	color: white;
	font-family: Tahoma;
	font-weight: bold;
	border-radius: 5px;
}

#botao2 {
	position: relative;
	float: right;
	top: 13px;
	left: -70px;
	width: 60px;
	height: 32px;
	background-color: #006400 ;
	color: white;
	font-family: Tahoma;
	font-weight: bold;
	border-radius: 5px;
}

fieldset {
	background-color: #d3d3d3;
}

footer {
	position: relative;
	top: 30px;
	background-color: #05b6e5;
	margin: 0 -18px 0 -18px;
	padding: 10px;
	text-align: center;
	color: black;
	font-family: Tahoma;
	font-weight: bold;
}